* {
    margin: 0;
    padding: 0;
}
.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    width: calc(64px * 8);
    height: calc(64px * 8);
    display: flex;
    flex-wrap: wrap;
}

.cell img{
    width: 48px;
    height: 48px;
    position: relative;

}

.cell {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.black{
    background-color: #CD9575;
}
.white{
    background-color: #9966CC;
}

.selected{
    background-color: #464451;
}
.available{
    background-color: #A8E4A0;
    border-radius: 50%;
    height: 12px;
    width: 12px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.timer{
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    transition: background-color 0.5s ease;
}
.buttonRestart{
    font-size: 20px;
    color: black;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    transition: background-color 0.5s ease;
}

.black-timer {
    background-color: black;
}

.white-timer {
    background-color: grey;
}

.button {
    background-color: blue;
}

.button:hover {
    background-color: darkblue;
}
